@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 100px 0px 100px;
  height: 20vh;
  color: #ff686b;
}

.header .main-logo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 44pt;
  color: white;
}

.header .stamp {
  font-family: 'Akaya Telivigala', cursive;
  color: white;
}

.main {
  position: relative;
}

#main-background {
  background: linear-gradient(0.39turn, #ff006e, #ff686b);
  fill: white;
}

.svg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.container {
  height: 65vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 7vw;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .column-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .column-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5vw;
}

.container .column-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5vw;
}

.container .links {
  border-radius: 2px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-shadow: -10px 8px 0px #ffffff52;
          box-shadow: -10px 8px 0px #ffffff52;
  background: white;
  padding: 1px 20px 1px 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.container .links:hover {
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  -webkit-box-shadow: 0px 2px 5px #310f0f31;
          box-shadow: 0px 2px 5px #310f0f31;
}

.container .links #svg {
  fill: #ff686b;
}

.container .links p {
  padding-left: 10px;
  color: #ff686b;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 100px;
  color: #ff686b;
  font-family: 'Akaya Telivigala', cursive;
}

@media screen and (min-width: 1280px) and (max-width: 1920px) {
  .pt-ham {
    display: none;
  }
  #pt-ham-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    justify-self: flex-end;
    width: 50%;
  }
  .nav-container #pt-links {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
  }
  .pt-header {
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url("../img/landing-image.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/landing-image.jpg");
    background-position: center;
    background-size: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2fr 5fr;
        grid-template-rows: 2fr 5fr;
    justify-items: center;
  }
  .pt-header .pt-nav {
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .pt-header .pt-nav #pt-logo-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pt-header .pt-nav .pt-logo {
    color: white;
    font-size: 2.8rem;
    letter-spacing: 5px;
  }
  .pt-content-container {
    width: 80%;
    padding-top: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .pt-content-container .pt-hero-text {
    color: white;
  }
  .pt-content-container .pt-hero-text .pt-hero-sub {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 2.4rem;
    letter-spacing: 5px;
  }
  .pt-content-container .pt-hero-text .pt-hero-main {
    font-family: 'Newsreader', serif;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 3.6rem;
  }
  .pt-wrapper {
    margin: 0 auto;
  }
  .pt-wrapper .menu-food-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5vh 0;
    height: 110vh;
  }
  .pt-wrapper .food-main-text {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: 'Newsreader', serif;
    font-weight: bold;
    font-size: 3.2rem;
    color: #355070;
  }
  .pt-wrapper .pt-food-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
    -ms-grid-column-align: center;
        justify-self: center;
    padding: 20px 0;
  }
  .pt-wrapper .pt-food-items .food {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .pt-wrapper .pt-food-items .image-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    color: #355070;
  }
  .pt-wrapper .pt-food-items .image {
    display: block;
    height: 20vh;
    width: 50%;
    background: #E56B6F;
  }
  .pt-wrapper #menu-button {
    border: 3px solid #E56B6F;
    text-decoration: none;
    color: #E56B6F;
    text-align: center;
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 20px;
    width: 30%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .pt-wrapper .pt-location-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    height: 70vh;
  }
  .pt-wrapper .pt-location-container #location-image {
    padding: 0;
    margin: 0;
    width: 100%;
    background: url("../img/location-image.jpg");
    background-size: cover;
    background-position: center;
  }
  .pt-wrapper .pt-location-container .text {
    color: #355070;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pt-wrapper .pt-location-container .text .location-text {
    font-family: 'Newsreader', sans-serif;
    font-size: 3.2rem;
    margin: 0;
    padding-bottom: 20px;
  }
  .pt-wrapper .pt-location-container .text .location-sub-text {
    font-family: 'Roboto',sans-serif;
    font-size: 1.6rem;
    text-align: center;
  }
  .pt-wrapper .pt-location-container .text #direction-button {
    width: 30%;
    border: 3px solid #E56B6F;
    background: #E56B6F;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
  }
  .pt-wrapper .pt-location-container #line {
    width: 80%;
    height: .5%;
    padding: 0;
    margin: 0;
    background: #E56B6F;
  }
  .pt-wrapper .pt-schedule-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    height: 70vh;
  }
  .pt-wrapper .pt-schedule-container #schedule-image {
    padding: 0;
    margin: 0;
    width: 100%;
    background: url("../img/schedule-image.jpg");
    background-size: cover;
    background-position: center;
  }
  .pt-wrapper .pt-schedule-container .text {
    color: #355070;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pt-wrapper .pt-schedule-container .text .schedule-text {
    font-family: 'Newsreader', sans-serif;
    font-size: 3.2rem;
    margin: 0;
    padding-bottom: 20px;
  }
  .pt-wrapper .pt-schedule-container .text .schedule-sub-text {
    font-family: 'Roboto',sans-serif;
    font-size: 1.6rem;
    text-align: center;
  }
  .pt-wrapper .pt-schedule-container #line2 {
    width: 80%;
    height: .5%;
    padding: 0;
    margin: 0;
    background: #E56B6F;
  }
  .pt-footer {
    height: 70vh;
    background: #132131;
    width: 100%;
  }
  .pt-footer .footer-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
  }
  .pt-footer .footer-wrapper section {
    height: 200%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pt-footer .footer-wrapper #news {
    font-family: 'Newsreader', sans-serif;
    font-weight: bold;
    font-size: 3.2rem;
    color: white;
    width: 80%;
    margin: 0 0 20px 90px;
  }
  .pt-footer .footer-wrapper .footer-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: white;
    margin: 0px;
    padding: 30px 0;
  }
  .pt-footer .footer-wrapper .input-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .pt-footer .footer-wrapper input {
    border: none;
    border-radius: 0px;
    font-size: 1.6rem;
    padding: 20px 0 20px 20px;
    width: 40%;
  }
  .pt-footer .footer-wrapper input::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .pt-footer .footer-wrapper input:-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .pt-footer .footer-wrapper input::-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .pt-footer .footer-wrapper input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .pt-footer .footer-wrapper button {
    font-size: 1.6rem;
    padding: 20px 0px;
    width: 25%;
    margin-left: -1px;
    background: #E56B6F;
    border: none;
    color: white;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
  }
  .pt-footer .footer-wrapper .footer-text {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    color: white;
  }
}

@media all and (min-width: 481px) and (max-width: 1280px) {
  .nav-container {
    position: fixed;
    visibility: hidden;
  }
  .location-image {
    display: none;
  }
  .pt-header {
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url("../img/landing-image.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/landing-image.jpg");
    background-position: center;
    background-size: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2.5fr 7.5fr;
        grid-template-rows: 2.5fr 7.5fr;
    justify-items: center;
  }
  .pt-header .pt-nav {
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 7fr 3fr;
        grid-template-columns: 7fr 3fr;
  }
  .pt-header .pt-nav #pt-logo-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pt-header .pt-nav #pt-ham-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pt-header .pt-nav .pt-logo {
    color: white;
    font-size: 3.8rem;
    letter-spacing: 5px;
  }
  .pt-header .pt-nav .pt-ham {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 125px;
  }
  .pt-header .pt-nav .pt-ham .line {
    display: block;
    height: 15px;
    background: white;
  }
  .pt-header .pt-nav .pt-ham .line-two {
    margin-top: 15px;
    width: 80%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .pt-header .pt-nav .pt-ham .line-three {
    margin-top: 15px;
    width: 60%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .pt-content-container {
    width: 80%;
    padding-top: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .pt-content-container .pt-hero-text {
    color: white;
  }
  .pt-content-container .pt-hero-text .pt-hero-sub {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 3.6rem;
    letter-spacing: 5px;
  }
  .pt-content-container .pt-hero-text .pt-hero-main {
    font-family: 'Newsreader', serif;
    font-weight: bold;
    font-size: 5.4rem;
    line-height: 6.4rem;
  }
  .pt-wrapper {
    margin: 0 auto;
  }
  .pt-wrapper .menu-food-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 5vh 0;
    height: 100vh;
  }
  .pt-wrapper .food-main-text {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: 'Newsreader', serif;
    font-weight: bold;
    font-size: 4.4rem;
    line-height: 3.4rem;
    color: #355070;
  }
  .pt-wrapper .pt-food-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 80%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .pt-wrapper .pt-food-items .food {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pt-wrapper .pt-food-items .image-text {
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    font-weight: normal;
    color: #355070;
  }
  .pt-wrapper .pt-food-items .image {
    display: block;
    height: 20vh;
    width: 60%;
    background: #E56B6F;
  }
  .pt-wrapper #menu-button {
    border: 3px solid #E56B6F;
    text-decoration: none;
    color: #E56B6F;
    text-align: center;
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.8rem;
    margin-top: 20px;
    width: 80vw;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .pt-wrapper .pt-location-container {
    height: 90vh;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url("../img/location-image.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/location-image.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 150px;
  }
  .pt-wrapper .pt-location-container .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .pt-wrapper .pt-location-container .location-text {
    font-family: 'Newsreader', serif;
    font-size: 4.8rem;
    color: white;
  }
  .pt-wrapper .pt-location-container #line {
    width: 80%;
    height: 0.5%;
    background: white;
    padding: 0;
    margin: 0;
  }
  .pt-wrapper .pt-location-container .location-sub-text {
    text-align: center;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-size: 3.2rem;
    padding: 20px 0;
    color: white;
  }
  .pt-wrapper .pt-location-container #direction-button {
    width: 80%;
    border: 3px solid white;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    padding: 20px 0;
    font-weight: bold;
    font-size: 2.8rem;
    font-family: 'Roboto', sans-serif;
  }
  .pt-wrapper .pt-schedule-container {
    height: 90vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pt-wrapper .pt-schedule-container .schedule-text {
    font-family: 'Newsreader', serif;
    font-size: 4.8rem;
    color: #355070;
  }
  .pt-wrapper .pt-schedule-container .schedule-sub-text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3.2rem;
    padding: 20px 0;
    color: #355070;
  }
  .pt-wrapper .pt-schedule-container #line2 {
    width: 80%;
    height: 0.5%;
    background: #E56B6F;
    padding: 0;
    margin: 0;
  }
  .pt-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #132131;
    width: 100%;
    height: 70vh;
    padding: 30px 0;
  }
  .pt-footer .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 80%;
    height: 100%;
  }
  .pt-footer .footer-wrapper #news {
    font-family: 'Newsreader', serif;
    font-size: 4.8rem;
    color: white;
  }
  .pt-footer .footer-wrapper .input-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pt-footer .footer-wrapper .input-field input {
    border: none;
    border-radius: 0px;
    font-size: 2.8rem;
    padding: 30px 0 30px 20px;
    width: 65%;
  }
  .pt-footer .footer-wrapper .input-field input::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .pt-footer .footer-wrapper .input-field input:-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .pt-footer .footer-wrapper .input-field input::-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .pt-footer .footer-wrapper .input-field input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .pt-footer .footer-wrapper .input-field button {
    font-size: 2.8rem;
    padding: 30px 0px;
    width: 35%;
    margin-left: -1px;
    background: #E56B6F;
    border: none;
    color: white;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
  }
  .pt-footer .footer-wrapper .footer-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.4rem;
    color: white;
  }
}

@media all and (max-width: 480px) {
  .nav-container {
    position: fixed;
    visibility: hidden;
  }
  #location-image {
    display: none;
  }
  .pt-header {
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url("../img/landing-image.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/landing-image.jpg");
    background-position: center;
    background-size: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2.5fr 7.5fr;
        grid-template-rows: 2.5fr 7.5fr;
    justify-items: center;
  }
  .pt-header .pt-nav {
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 7fr 3fr;
        grid-template-columns: 7fr 3fr;
  }
  .pt-header .pt-nav #pt-logo-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pt-header .pt-nav #pt-ham-container {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .pt-header .pt-nav .pt-logo {
    color: white;
    font-size: 1.8rem;
    letter-spacing: 5px;
  }
  .pt-header .pt-nav .pt-ham {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80px;
  }
  .pt-header .pt-nav .pt-ham .line {
    display: block;
    height: 10px;
    background: white;
  }
  .pt-header .pt-nav .pt-ham .line-two {
    margin-top: 10px;
    width: 80%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .pt-header .pt-nav .pt-ham .line-three {
    margin-top: 10px;
    width: 60%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .pt-content-container {
    width: 80%;
    padding-top: 5vh;
  }
  .pt-content-container .pt-hero-text {
    color: white;
    padding: 0;
  }
  .pt-content-container .pt-hero-text .pt-hero-sub {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
    letter-spacing: 5px;
  }
  .pt-content-container .pt-hero-text .pt-hero-main {
    font-family: 'Newsreader', serif;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.4rem;
  }
  .pt-wrapper {
    margin: 0 auto;
    padding: 100px 0 100px 0;
  }
  .pt-wrapper .menu-food-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100vh;
  }
  .pt-wrapper .food-main-text {
    text-align: center;
    font-family: 'Newsreader', serif;
    font-weight: bold;
    font-size: 2.4rem;
    color: #355070;
  }
  .pt-wrapper .pt-food-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .pt-wrapper .pt-food-items .food {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pt-wrapper .pt-food-items .image-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    color: #355070;
  }
  .pt-wrapper .pt-food-items .image {
    display: block;
    height: 15vh;
    width: 60%;
    background: #E56B6F;
  }
  .pt-wrapper #menu-button {
    border: 3px solid #E56B6F;
    text-decoration: none;
    color: #E56B6F;
    text-align: center;
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 20px;
    width: 80vw;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .pt-wrapper .pt-location-container {
    height: 70vh;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url("../img/location-image.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/location-image.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 150px;
  }
  .pt-wrapper .pt-location-container .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .pt-wrapper .pt-location-container .location-text {
    font-family: 'Newsreader', serif;
    font-size: 2.4rem;
    color: white;
  }
  .pt-wrapper .pt-location-container #line {
    width: 80%;
    height: 0.5%;
    background: white;
    padding: 0;
    margin: 0;
  }
  .pt-wrapper .pt-location-container .location-sub-text {
    text-align: center;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    padding: 20px 0;
    color: white;
  }
  .pt-wrapper .pt-location-container #direction-button {
    width: 80%;
    border: 3px solid white;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    padding: 20px 0;
    font-weight: bold;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
  }
  .pt-wrapper .pt-schedule-container {
    height: 70vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pt-wrapper .pt-schedule-container .schedule-text {
    font-family: 'Newsreader', serif;
    font-size: 2.4rem;
    color: #355070;
  }
  .pt-wrapper .pt-schedule-container .schedule-sub-text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    padding: 20px 0;
    color: #355070;
  }
  .pt-wrapper .pt-schedule-container #line2 {
    width: 80%;
    height: 0.5%;
    background: #E56B6F;
    padding: 0;
    margin: 0;
  }
  .pt-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #132131;
    width: 100%;
    height: 70vh;
    padding: 30px 0;
  }
  .pt-footer .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 80%;
    height: 100%;
  }
  .pt-footer .footer-wrapper #news {
    font-family: 'Newsreader', serif;
    font-size: 2.4rem;
    color: white;
  }
  .pt-footer .footer-wrapper .input-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pt-footer .footer-wrapper .input-field input {
    border: none;
    border-radius: 0px;
    font-size: 1.4rem;
    padding: 10px 0 10px 20px;
    width: 65%;
  }
  .pt-footer .footer-wrapper .input-field input::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .pt-footer .footer-wrapper .input-field input:-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .pt-footer .footer-wrapper .input-field input::-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .pt-footer .footer-wrapper .input-field input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .pt-footer .footer-wrapper .input-field button {
    font-size: 1.4rem;
    padding: 12px 0px;
    width: 35%;
    margin-left: -1px;
    background: #E56B6F;
    border: none;
    color: white;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
  }
  .pt-footer .footer-wrapper .footer-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: white;
  }
}
/*# sourceMappingURL=stylesheet.css.map */